@font-face {
  font-family: 'SFProText';
  src: url('./SF-Pro-Text-Ultralight.otf') format('opentype');
}

body {
  margin: 0;
  font-family: 'SFProText';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}